let mapleader = " "

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

set ideavimsupport=dialog
" Turns off all bells.
set visualbell
set noerrorbells

" Set current mode ideavim is in
set showmode

" Throws an exception on IdeaVim error.
set ideastrictmode

" Enable relative numbers without needing a plugin
set number relativenumber

" Keep the previous mode when renaming items
set idearefactormode=keep

" Do incremental searching.
set incsearch

" Smart case search
set smartcase ignorecase

" Smart joining of lines, examples here: https://github.com/JetBrains/ideavim/blob/master/doc/ideajoin-examples.md
set ideajoin

" Surround plugin for wrapping things into brackets
set surround

" Y yanks till end of line, inclusively
nnoremap Y y$

" Don't overwrite yank buffer when pasting over text in visual mode
vnoremap p "0p

" system clipboard
vnoremap <leader>y "*y
vnoremap <leader>d "*d
nnoremap <leader>y "*yy
nnoremap <leader>p "*p
nnoremap <leader>P "*P
vnoremap <leader>p "*p
vnoremap <leader>P "*P

" I hate reaching for number keys, so I'm putting start/end line shortcuts here
noremap <leader>S ^
noremap <leader>E $

" actions
nmap <Leader>c <action>(RenameElement)

map <leader>h <action>(PreviousTab)
map <leader>l <action>(NextTab)
map <leader>k <action>(Back)
map <leader>j <action>(Forward)

map <leader>i <action>(Generate)

map <leader>/ <action>(ShowErrorDescription)

map <leader>fc <action>(GotoClass)
map <leader>ff <action>(GotoFile)
map <leader>fs <action>(GotoSymbol)
map <leader>fx <action>(GotoAction)
map <leader>fr <action>(RecentFiles)

map <leader>gu <action>(ShowUsages)
map <leader>gi <action>(GotoImplementation)
map <leader>gI <action>(GotoSuperMethod)
map <leader>gg <action>(GotoDeclaration)

map <leader>d <action>(CloseContent)
map <leader>D <action>(CloseAllEditors)
map <leader>u <action>(ReopenClosedTab)

map <leader>w <action>(QuickJavaDoc)

map <leader>rd <action>(Debug)
map <leader>rr <action>(Run)
map <leader>rs <action>(Stop)

map <leader>ss <action>(ToggleLineBreakpoint)
map <leader>sf <action>(ReformatCode)

set history=1000

" Make the yanked region apparent!
Plug 'machakann/vim-highlightedyank'
" A negative number would make the highlight persistent.
let g:highlightedyank_highlight_duration='2000'
let g:highlightedyank_highlight_color='rgba(20, 180, 255, 25)'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
