let mapleader = " "

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Switches to English input method in Normal mode and restore input method in
" Insert mode.
set keep-english-in-normal-and-restore-in-insert

" Define the list of additional buffers where IdeaVim is enabled.
set ideavimsupport=dialog
" Turns off all bells.
set visualbell

" Throws an exception on IdeaVim error.
set ideastrictmode

" Enable relative numbers without needing a plugin
set number relativenumber

" Keep the previous mode when renaming items
set idearefactormode=keep

" Do incremental searching.
set incsearch

" Smart case search
set smartcase ignorecase

" Smart joining of lines, examples here: https://github.com/JetBrains/ideavim/blob/master/doc/ideajoin-examples.md
set ideajoin

" Y yanks till end of line, inclusively
nnoremap Y y$

" system clipboard
vmap <leader>y "*y
vmap <leader>d "*d
nmap <leader>y "*yy
nmap <leader>p "*p
nmap <leader>P "*P
vmap <leader>p "*p
vmap <leader>P "*P

" actions
nmap <Leader>c <Action>(RenameElement)

nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>k <action>(Back)
nmap <leader>j <action>(Forward)

nmap <leader>i <action>(Generate)

nmap <leader>/ <action>(ShowErrorDescription)

nmap <leader>fc <action>(GotoClass)
nmap <leader>ff <action>(GotoFile)
nmap <leader>fs <action>(GotoSymbol)
nmap <leader>fx <action>(GotoAction)
nmap <leader>fe <action>(GotoNextError)
nmap <leader>fE <action>(GotoPreviousError)
nmap <leader>fr <action>(RecentFiles)

nmap <leader>s <action>(ShowUsages)
nmap <leader>S <action>(GotoImplementation)

nmap <leader>d <action>(CloseContent)
nmap <leader>D <action>(CloseAllEditors)
nmap <leader>u <action>(ReopenClosedTab)

nmap <leader>w <action>(QuickJavaDoc)

nmap <leader>rd <action>(Debug)
nmap <leader>rr <action>(Run)

set history=1000

" Make the yanked region apparent!
Plug 'machakann/vim-highlightedyank'
" A negative number would make the highlight persistent.
let g:highlightedyank_highlight_duration='7000'
let g:highlightedyank_highlight_color='rgba(128, 128, 128, 30)'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
